.App {
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: gray;
}
.Nav-tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  list-style: none;
  cursor: pointer;
  font-weight: bold;
  list-style: none;
}
#tabStyle {
  color: black;
  text-decoration: none;
}
.items {
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 20px #000000b3;
  position: absolute;
  width: 30%;
  margin: 50%;
  transform: translate(-50%, -60%);
}
.items h2 {
  text-align: center;
}
#star {
  opacity: 0.8;
  cursor: pointer;
  margin-left: 30px;
  margin-top: 30px;
  padding-left: 20px;
  padding-top: 10px;
}
#star:hover {
  opacity: 1;
  color: yellow;
}
.favList {
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 20px #000000b3;
  position: absolute;
  width: 20%;
  height: 50%;
  margin-left: 500px;
  margin-top: 100px;
}
.favList li {
  list-style: none;
  font-size: large;
  font-weight: bold;
  text-align: left;
  margin-left: 70px;
  margin-bottom: 20px;
}
.yellow {
  color: yellow;
}
