.App {
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: gray;
}
.Nav-tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  list-style: none;
  cursor: pointer;
  font-weight: bold;
}
.star {
  opacity: 0.8;
  cursor: pointer;
}
.star:hover {
  opacity: 1;
}
